
 
<section class="team-header">
<img class="team-logo" alt="team-logo">
<div class="team-header-text">
  <h1 class="team-header-name"></h1>
</div>
</section>

<hr>

<section class="team-information">

     
    <div class="content">
      <h1 class="team-header-text">General information</h1>
      <p id="team-gi"></p>
      <hr>
      <h1 class="team-header-text">Stadium information</h1>
      <p id="team-si"></p>
      <div class="stadium-image">
        <img class="stadium">
      </div>
      <hr>
    </div>
    <div class="sideBar">
      <h2 class="current-team-position">Current Positon</h2>
      <h4></h4>
      <hr>
       <div class="team-social-network">
        <img class="qr-code" src="/images/auth/qrcode/qrcode.png">
        <a href="" class="team-website"><i class="fas fa-globe"></i></a> 
        <a href="" class="team-youtube"><i class="fab fa-youtube"></i></a> 
        <a href="" class="team-facebook"><i class="fab fa-facebook"></i></a> 
        <a href="" class="team-instagramm"><i class="fab fa-instagram"></i></a> 
       </div>
    </img>



</section>

<script>
window.addEventListener('load', () => {
  mainTeamInfo('{{user.team}}', '{{user.league_id}}', '{{user.team_id}}');
});
</script>
