<div class="stats-bg">
<h1 class="standing">Standing</h1>
</div>

<div class="standing-table">
  <div class="stat-titles tb-layout">

     <h3>Team</h3>
    <h3>Games played</h3>
    <h3>Wins</h3>
    <h3>Draws</h3>
    <h3>Loss</h3>
    <h3>Goals for</h3>
    <h3>Goals against</h3>
    <h3>Total</h3>
    
  </div>
  <div class="team-container">
   
  </div>
</div>




<script>
  window.addEventListener('load', () => {
    standingsInfo('{{user.league_id}}');
  });
</script>