
<<<<<<< HEAD
<h1>hello this is statistics page</h1>
=======
<head>
  <link rel='stylesheet' href='/stylesheets/dashboard.css' />
</head>
 {{{body}}}
<h1>hello this is statistics page</h1>


<footer>
  <p>Web Development-Bootcamp Module 2 Project, created by &copy;	Fabian Scheugenpflug & Fredrik Hogstrom</p>
</footer>
>>>>>>> c373043bbe7e604a7040f17d52aafcd3b5f1b553
