<div id="up-coming-events">
   <h1 id="league"></h1>
   <div class="home-away-team">
     <h5>Home</h5>
     <h5>Away</h5>
   </div>
    


</div>




<script>

window.addEventListener('load', () => {
  mainTeamEvents('{{user.team_id}}');
});

</script>