<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/sign-up.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/errors.css' />
    <link rel='stylesheet' href='/stylesheets/starter-page.css' />
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
      crossorigin="anonymous">
  </head>
  <body>
    {{#if user}}
      <div class="nav">
        <div class="nav-header">
          <div class="nav-title">
            <a href="/dashboard"> sunSet</a>
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        <input type="checkbox" id="nav-check">
        <div class="nav-links">
          <a href="/dashboard">My Team</a>
          <a href="/statistics">Statistics</a>
          <a href="/upcoming">Upcoming</a>
          <a href="/auth/team-selection">Update my Team</a>
          <form action="/auth/logout" method="post">
            <button>Log out</button>
          </form>
        </div>
      </div>

     
    {{/if}}

    {{{body}}}

    <footer>
      <p>Web Development-Bootcamp Module 2 Project, created by &copy; Fabian Scheugenpflug & Fredrik Hogstrom</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="/javascripts/my-team.js"></script>
    <script src="/javascripts/upcoming-events.js"></script>
    <script src="/javascripts/stats.js"></script>
    {{!-- <script src="bundle.js"></script> --}}

  </body>
</html>
