<div class="starter-wrapper">
<header class="v-header container">
  <div class="fullscreen-video-wrap">
    <video id="video-elem" src="https://i.imgur.com/vQxTrTN.mp4" autoplay="true" loop="true" muted="muted"></video>
  </div>

  <div class="header-content text-md-center">
    <div class="logo"><img src="/images/sun$et-logo-white.svg" class="logo"></div>
    <p>Sometimes it’s not how GOOD you are, but how BAD you want it.</p>
    <div class="test">
    <a class="btn" href="/auth/sign-up">Sign Up</a>
    <a class="btn" href="/auth/login">Log In</a>
    </div>
  </div>
</header>



<div class="container-columns">
  <div>
  <h1>API</h1>
  <p>TheSportsDB website is a collection of metadata, artwork, results and tables that has a JSON API. The site was built in 2015
  to serve a need for a common interface of sports data for various Home Theatre Applications.</p>
  <a  class='btn-divs' href="https://www.thesportsdb.com/api.php">View API</a>
  </div>

  <div>
   <h1>About The Project</h1>
  <p>TheSportsDB website is a collection of metadata, artwork, results and tables that has a JSON API. The site was built in 2015
    to serve a need for a common interface of sports data for various Home Theatre Applications.</p>
  <a class='btn-divs' href="https://www.thesportsdb.com/api.php">Project</a>
  </div>

  <div>
    <h1>Style Guide</h1>
    <p>TheSportsDB website is a collection of metadata, artwork, results and tables that has a JSON API. The site was built in 2015
      to serve a need for a common interface of sports data for various Home Theatre Applications.</p>
    <a class='btn-divs' href="https://www.thesportsdb.com/api.php">Style Guide</a>
  </div>
</div>

</div>