{{!-- connect specific css --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/search-theme.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

</head>

{{!-- body --}}

{{!-- <input type="text" placeholder="Search"></input> --}}

<body id="search-background">
  <div class="search-box">
    <h1>Team Selection</h1>
    <div class="search-bar">
      <input type="text" id="team-search" name="team" placeholder="Team Search">
    </div>
      <button type="submit" class="search-btn">Search</button>
  </div>
</body>
<script src="/javascripts/selections.js"></script>


</html>