{{!-- connect specific css --}}

<head>
  <link rel='stylesheet' href='/stylesheets/errors.css' />
</head>

{{!-- body --}}

<body id="error-background"> 
    <section class="error">
      <h1>UPS WE ARE REALLY SORRY!</h1>
    </section>
</body>