<head>
  <link rel='stylesheet' href='/stylesheets/dashboard.css' />
</head>
 {{{body}}}
 
<section class="team-header">
<img class="team-logo" src="https://www.thesportsdb.com/images/media/team/badge/vrtrtp1448813175.png" alt="team-logo">
<div class="team-header-text">
  <h1 class="team-header-name">Arsenal</h1>
</div>
</section>

<hr>

<section class="team-information">

     
    <div class="content">
      <h1 class="team-header-text">General information</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea soluta repellat odit corporis nam. Magni, minus numquam voluptatem atque, nesciunt nobis consequatur iure incidunt quia quibusdam inventore pariatur porro dolor!
      Dolorum veritatis commodi eos libero asperiores corporis porro vero. Maxime dolor voluptatum tempore eaque, doloribus deserunt totam eum repellendus vitae culpa accusamus est ea consectetur porro impedit id et iure?
      Vel provident itaque modi consequatur porro nemo possimus dicta obcaecati ipsam nam iste ut dignissimos optio, ab dolorem harum ducimus neque quo perferendis aspernatur dolorum tempore sunt doloremque. Nam, cumque?
      Deserunt, nihil aliquam! Nam illo officiis consectetur autem vel voluptatibus, atque nisi vitae molestiae esse dolores, sed neque facere recusandae dolorem eveniet magnam eligendi. Maiores praesentium tenetur et pariatur aperiam.
      Officiis alias, expedita sed sapiente, porro iste vitae, animi reprehenderit necessitatibus recusandae dolor tempore eveniet voluptatum repellendus voluptatibus. Ratione, maxime voluptates. Vitae praesentium, ipsum temporibus ipsam debitis magnam perspiciatis soluta?
      Neque ipsa, dicta impedit magni animi tempore eius cupiditate voluptatem doloribus esse porro quas suscipit provident veniam recusandae cumque eaque ipsum tempora omnis harum earum officiis praesentium. Quo, sunt dignissimos!
      Sint minus libero ipsum? Enim fugit, veniam qui, consectetur vel sed animi, aliquid assumenda inventore tempore repellat explicabo quia perferendis nam perspiciatis culpa tenetur! Cupiditate, voluptates? Obcaecati iste corrupti error?</p>
      <h1 class="team-header-text">Stadium information</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt consequatur vitae fugiat necessitatibus placeat aspernatur distinctio, ab tenetur laborum perferendis id molestias officia hic nulla voluptas, delectus reprehenderit, eum natus.
      Officia dolorum sint dicta, quae fugiat iure odit nulla atque, dolore quia obcaecati expedita tempore possimus. Commodi dolorem laboriosam iusto repellendus, sed dolore temporibus, perspiciatis facere porro pariatur, alias cupiditate.
      Dolore quas enim omnis facilis illum repellendus fugiat fuga corporis maxime consequatur velit mollitia ad molestias cum, nesciunt ullam praesentium, ipsum delectus neque minima soluta, rerum maiores quos! Quae, officiis.
      Quam voluptate sunt consequuntur earum aut pariatur laudantium ipsa, modi iure nam doloribus animi ducimus molestiae corporis odit quasi? Placeat cumque quasi cum officia reprehenderit dolorem nisi deserunt quibusdam mollitia!
      Suscipit facere, explicabo maxime dignissimos cum corporis repudiandae non inventore nisi possimus quidem odio. Quisquam vel quod omnis laboriosam velit nesciunt temporibus quasi, quos illo sequi veritatis molestias delectus aspernatur!
      Delectus temporibus dolorem et cupiditate autem fuga esse quaerat aut! Ut at amet tenetur totam commodi, minima, et doloribus molestias, rerum magni architecto! Sed quaerat quo sequi sunt pariatur facere.
      Maiores laborum cupiditate quis reiciendis accusamus voluptates ratione? Veritatis labore eveniet, nisi similique aliquam, animi cum fuga facilis modi error est tempore dolorum alias incidunt vitae neque vel fugit totam?</p>
      
    </div>
    <div class="sideBar">
      <h2 class="current-team-position">Current Positon</h2>
    </div>



</section>





