<div class="start">Team Selection</div>

{{!-- <input type="text" placeholder="Search"></input> --}}

<input type="text" id="team-search" name="team">
<button type="submit" class="search-btn">Search</button>

<script src="/javascripts/selections.js"></script>